<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>FINAL EXAM</title>
	<link rel="stylesheet" href="app/css/screen.css">
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="app/css/ie.css">
    	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       <script>
          document.createElement('header');
          document.createElement('main');
          document.createElement('section');
          document.createElement('footer');
        </script>
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<!-- <script src="app/js/vendor/retina.min.js"></script> -->
	<script src="app/js/vendor/libs.js"></script>
	<script src="app/js/src/script.min.js" ></script>
</head>
<body>
	<div class="wrapper">
		<header class="header-box">
			<div class="header-box__login">
			<span class="header-box__login--logo">URLAUBSGLÜCK</span>
				<span class="header-box__login--in">
					Log in
				</span>
				<span class="header-box__login--in">
					Sign Up
				</span>
			</div>
			<div class="header-box__logo">
				<p class="header-box__logo--name-company">URLAUBSGLÜCK</p>
				<span class="header-box__logo--title">Share your </span>
				<span class="header-box__logo--title">holiday dreams</span>
				<p class="header-box__logo--subtitle"> And find the perfect partner to fullfill it</p>
			</div>
			<div class="header-box__search-partners">
				<p class="header-box__search-partners--slogan" >Find your holiday partner</p>
			</div>
		</header>
		<section class="jcarousel-wrapper">
			<h1 class="jcarousel-wrapper__title">How Urlaubsglück works?</h1>
			<div class="jcarousel jcarousel--left">
				<ul class="jcarousel__list ">
					<li class="jcarousel__slide">
						<img src="app/img/desktop/slide1.jpg" data-rjs="2" class="jcarousel__image--desktop">
						<img src="app/img/mobile/slide1.jpg" data-rjs="2" height="240" class="jcarousel__image--mobile">
						<img src="app/img/leptop/slide1.jpg" data-rjs="2" height="401" class="jcarousel__image--tablet">
					</li>
					<li class="jcarousel__slide">
						<img src="app/img/desktop/slide2.jpg" data-rjs="2" class="jcarousel__image--desktop">
						<img src="app/img/mobile/slide2.jpg" data-rjs="2" height="240" class="jcarousel__image--mobile">
						<img src="app/img/leptop/slide2.jpg" data-rjs="2" height="401" class="jcarousel__image--tablet">
					</li>
					<li class="jcarousel__slide">
						<img src="app/img/desktop/slide3.jpg" data-rjs="2" class="jcarousel__image--desktop">
						<img src="app/img/mobile/slide3.jpg" data-rjs="2" height="240" class="jcarousel__image--mobile">
						<img src="app/img/leptop/slide3.jpg" data-rjs="2" height="401" class="jcarousel__image--tablet">
					</li>
				</ul>
			<div class="jcarousel-content">
				<span class="jcarousel-content__link">Step 1</span>
				<p class="jcarousel-content__title" >Sed leo enim, condimentum</p>
				<p class="jcarousel-content__subtitle">
					Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
				</p>
			</div>			

			<a class="jcarousel-control-prev" href="#"><img src="app/img/desktop/prev.png"></a>
   			<a  class="jcarousel-control-next" href="#"><img src="app/img/desktop/next.png"></a>
			</div>
			<div class="jcarousel jcarousel--center">
				<ul class="jcarousel__list">
					<li class="jcarousel__slide">
						<img src="app/img/desktop/slide2.jpg" data-rjs="2" class="jcarousel__image--desktop">
						<img src="app/img/mobile/slide2.jpg" data-rjs="2" height="240" class="jcarousel__image--mobile">
						<img src="app/img/leptop/slide2.jpg" data-rjs="2" height="401" class="jcarousel__image--tablet">
					</li>
					<li class="jcarousel__slide">
						<img src="app/img/desktop/slide3.jpg" data-rjs="2" class="jcarousel__image--desktop">
						<img src="app/img/mobile/slide3.jpg" height="240" data-rjs="2" class="jcarousel__image--mobile">
						<img src="app/img/leptop/slide3.jpg" height="401" data-rjs="2" class="jcarousel__image--tablet">
					</li>
					<li class="jcarousel__slide">
						<img src="app/img/desktop/slide1.jpg" data-rjs="2" class="jcarousel__image--desktop">
						<img src="app/img/mobile/slide1.jpg" height="240" data-rjs="2" class="jcarousel__image--mobile">
						<img src="app/img/leptop/slide1.jpg" height="401" data-rjs="2" class="jcarousel__image--tablet">
					</li>
				</ul>
			<div class="jcarousel-content jcarousel-content--step-two">
				<span class="jcarousel-content__link">Step 2</span>
				<p class="jcarousel-content__title" >Morbi velit risus</p>
				<p class="jcarousel-content__subtitle">
					Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
				</p>
			</div>

			<a class="jcarousel-control-prev" href="#"><img src="app/img/desktop/prev.png"></a>
   			<a  class="jcarousel-control-next" href="#"><img src="app/img/desktop/next.png"></a>
			</div>
			<div class="jcarousel jcarousel--right">
				<ul class="jcarousel__list ">
					<li class="jcarousel__slide">
						<img src="app/img/desktop/slide3.jpg" data-rjs="2" class="jcarousel__image--desktop">
						<img src="app/img/mobile/slide3.jpg" height="240" data-rjs="2" class="jcarousel__image--mobile">
						<img src="app/img/leptop/slide3.jpg" height="401" data-rjs="2" class="jcarousel__image--tablet">
					</li>
					<li class="jcarousel__slide">
						<img src="app/img/desktop/slide1.jpg" data-rjs="2" class="jcarousel__image--desktop">
						<img src="app/img/mobile/slide1.jpg" height="240" data-rjs="2" class="jcarousel__image--mobile">
						<img src="app/img/leptop/slide1.jpg" height="401" data-rjs="2" class="jcarousel__image--tablet">
					</li>
					<li class="jcarousel__slide">
						<img src="app/img/desktop/slide2.jpg" data-rjs="2" class="jcarousel__image--desktop">
						<img src="app/img/mobile/slide2.jpg" height="240" data-rjs="2" class="jcarousel__image--mobile">
						<img src="app/img/leptop/slide2.jpg" height="401" data-rjs="2" class="jcarousel__image--tablet">
					</li>
				</ul>
			<div class="jcarousel-content">
				<span class="jcarousel-content__link">Step 3</span>
				<p class="jcarousel-content__title" >Sed leo enim, condimentum</p>
				<p class="jcarousel-content__subtitle">
					Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
				</p>
			</div>

			<a class="jcarousel-control-prev" href="#"><img src="app/img/desktop/prev.png"></a>
   			<a  class="jcarousel-control-next" href="#"><img src="app/img/desktop/next.png"></a>
			</div>
		</section>
		<section class="partners">
			<p class="partners__title">Meet a partner for your best holiday</p>
			<div class="partners__box">
				<img src="app/img/mobile/bred.png" data-rjs="2" class="partners__foto--mobile" >
				<a href="#" class="partners__sprite partners__sprite--first"></a>
				<p class="partners__name" >Bradley Hunter</p>
				<p class="partners__description">Based in Chicago. I love playing tennis and loud music.</p>
			</div>
			<div class="partners__box partners__box--heather">
				<img src="app/img/mobile/heather.png" data-rjs="2" class="partners__foto--mobile" >
				<a href="#" class="partners__sprite partners__sprite--second"></a>
				<p class="partners__name" >Heather Walker</p>
				<p class="partners__description">I'm a happy person that loves cats and climbing on mountains.</p>
			</div>
			<div class="partners__box partners__box--lucas">
				<img src="app/img/mobile/lucas.png" data-rjs="2" class="partners__foto--mobile" >
				<a href="#" class="partners__sprite partners__sprite--third"></a>
				<p class="partners__name" >Lucas Marsha</p>
				<p class="partners__description">
					I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.
				</p>
			</div>
			<div class="partners__box partners__box--bredley">
				<img src="app/img/mobile/bradley.png" data-rjs="2" class="partners__foto--mobile" >
				<a href="#" class="partners__sprite partners__sprite--fourth"></a>
				<p class="partners__name" >Bradley Hunter</p>
				<p class="partners__description">Based in Chicago. I love playing tennis and loud music.</p>
			</div>
			<p class="partners__ohter-partners">See other partners</p>
		</section>
		<div class="activity-grid">
                <h2 class="activity-grid__title">Discover holiday activity ideas</h2>
                <script type="text/template" id="grid-template">
                    <div class="grid">
                        <% for (var i =0; i < hits.length; i++) { %>
                            <div class="grid__item
				                        <% if ((i==5)||(i==4)){%>
				                        	grid__item--width2
				                        <%}%>" 
				                        style="background: url(<%=hits[i].webformatURL%>) center no-repeat; 
				                        background-size: 100% 100%">
                                <p class="grid__item--text grid__item--text<%= i+1 %>">
                                    <!-- <%=hits[i].tags%> -->
                                </p>
                            </div>
                            <%}; %>
                    </div>
                </script>
            </div>
		<section class="search">
		<div class="search__box">
			
			<p class="search__box__title" >
				Discover holiday activity ideas
			</p>
			<form action="#" method="GET" id="search__form">
				<p class="search__box__subtitle">Hi! What are your holiday interests?</p>
				<input class="search__box__input" type="text"  placeholder="Enter your interests" required>
				<input class="search__box__submit" type="submit" name="" value="Search partners">
			</form>
		</div> 
		</section>
		<footer class="footer">
			<div class="footer-box">
				<p class="footer-box__title">URLAUBSGLÜCK</p>
				<ul class="footer-box__nav-list">
					<li class="footer-box__nav-title">Company</li>
					<li class="footer-box__nav-item" ><a class="footer-box__nav-link" href="#">About</a></li>
					<li class="footer-box__nav-item" ><a class="footer-box__nav-link" href="#">Contacts</a></li>
					<li class="footer-box__nav-item" ><a class="footer-box__nav-link" href="#">Press</a></li>
					<li class="footer-box__nav-item" ><a class="footer-box__nav-link" href="#">Blog</a></li>
				</ul>
				<p class="footer-box__partners" >Partners
					<span class="footer-box__partners--design">
						Designed by
					</span>
				</p>
				<img src="app/img/mobile/footer_logo.png" data-rjs="2" class="footer-box__logo">
				<img src="app/img/leptop/footer_logo.png" data-rjs="2" class="footer-box__logo--tablet">
			</div>
		</footer>
	</div>
</body>
</html>